{% extends 'admin.twig' %}

{% set title %}{{ 'CostAnalytics_AddManualCost'|translate }}{% endset %}

{% block content %}
<div class="costAnalyticsAddCost">
    <h2>{{ 'CostAnalytics_AddManualCost'|translate }}</h2>

    <p class="description">
        {{ 'CostAnalytics_AddManualCostDescription'|translate }}
    </p>

    <form method="post" action="{{ linkTo({'module': 'CostAnalytics', 'action': 'saveCost'}) }}" class="form-horizontal">
        <input type="hidden" name="idSite" value="{{ idSite }}">

        <div class="form-group row">
            <label class="col-sm-3 control-label" for="channel_type">
                {{ 'CostAnalytics_ChannelType'|translate }} *
            </label>
            <div class="col-sm-9">
                <select name="channel_type" id="channel_type" required class="form-control">
                    <option value="">{{ 'CostAnalytics_SelectChannel'|translate }}</option>
                    {% for type, name in channelTypes %}
                    <option value="{{ type }}">{{ name }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-3 control-label" for="cost_date">
                {{ 'CostAnalytics_CostDate'|translate }} *
            </label>
            <div class="col-sm-9">
                <input type="date" name="cost_date" id="cost_date" required class="form-control">
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-3 control-label" for="cost_amount">
                {{ 'CostAnalytics_CostAmount'|translate }} *
            </label>
            <div class="col-sm-9">
                <input type="number" name="cost_amount" id="cost_amount" step="0.01" min="0" required class="form-control">
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-3 control-label" for="currency">
                {{ 'CostAnalytics_Currency'|translate }}
            </label>
            <div class="col-sm-9">
                <input type="text" name="currency" id="currency" value="USD" maxlength="10" class="form-control">
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-3 control-label" for="campaign_name">
                {{ 'CostAnalytics_CampaignName'|translate }}
            </label>
            <div class="col-sm-9">
                <input type="text" name="campaign_name" id="campaign_name" maxlength="255" class="form-control">
                <p class="form-text text-muted">
                    {{ 'CostAnalytics_CampaignNameHelp'|translate }}
                </p>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-sm-offset-3 col-sm-9">
                <button type="submit" class="btn btn-primary">
                    <span class="icon-add"></span>
                    {{ 'CostAnalytics_AddCost'|translate }}
                </button>
                <a href="{{ linkTo({'module': 'CostAnalytics', 'action': 'index'}) }}" class="btn">
                    {{ 'General_Cancel'|translate }}
                </a>
            </div>
        </div>
    </form>
</div>
{% endblock %}
